<!DOCTYPE html>
<html>
<head>
  <title>Cheers</title>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <noscript><link rel="stylesheet" href="assets/stylesheets/noscript.css" /></noscript>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
  <%= csrf_meta_tags %>
  <%= render 'layouts/header' %>
</head>
<body>
<%= yield %>
</body>
</html>
